Django==4.2.9
mysqlclient==2.2.4
Pillow==10.2.0
torch==2.2.0
torchvision==0.17.0
numpy==1.26.4
scipy==1.12.0
scikit-learn==1.4.0
matplotlib==3.8.2
opencv-python-headless==4.9.0.80
tqdm==4.66.2
requests==2.31.0
channels==4.0.0
whitenoise==6.6.0
python-decouple==3.8
